* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  font: 16px Helvetica, Arial, sans-serif;
  font-weight: 200;
  background-color: white;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
body.colors {
  background-color: #194BA3;
}
a,
.link {
  color: #00B7FF;
}
.flash-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.flash {
  width: 100%;
  padding: 10px;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.flash.notice {
  color: #c09853;
  border-color: #fbeed5;
  background-color: #fcf8e3;
}
.flash.error {
  color: #b94a48;
  border-color: #eed3d7;
  background-color: #f2dede;
}
.flash.success {
  color: #468847;
  border-color: #d6e9c6;
  background-color: #dff0d8;
}
.flash.info {
  color: #3a87ad;
  border-color: #bce8f1;
  background-color: #d9edf7;
}
.page {
  position: relative;
  width: 100%;
  height: 100%;
}
.user {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  margin: auto;
  text-align: center;
}
.user input {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}
.user button {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: none;
  background-color: white;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}
.chat {
  position: absolute;
  bottom: 50px;
  width: 100%;
  overflow-y: scroll;
}
.chat p {
  margin: 0;
  padding: 3px 5px;
  font-size: 1em;
  font-weight: 200;
}
.chat p:nth-of-type(2n) {
  background-color: rgba(0, 0, 0, 0.1);
}
.chat strong {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}
.prompt {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0;
}
.prompt textarea {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-size: 0.8em;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.07em;
}
